.hidden {
    opacity: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    position: fixed;
    pointer-events: none;
    transform: translateY(100px);
}

.hidden-left {
    transform: translateX(-100px);
    opacity: 0;
}

.hidden-right {
    transform: translateX(100px);
    opacity: 0;
}