@import "hidden";
@import "background";
@import "profile";
@import "custom-button";
@import "work";
@import "custom-scrollbar";

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: 1s ease-in-out;
    font-family: 'Courier New', Courier, monospace;
}

body {
    max-width: 100%;
    min-width: 100%;
    object-fit: contain;
}

.shadow {
    box-shadow: 0px 0.5px 6px 0px #313131 !important;
}

.shadow:hover {
    transform: translateY(-2px);
    box-shadow: 0px 0.5px 4px 0px gray !important;
}