@import "hidden";
@import "background";
@import "profile";
@import "custom-button";
@import "work";
@import "custom-scrollbar";

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: 1s ease-in-out;
    font-family: 'Courier New', Courier, monospace;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.introduction {
    height: 100vh;
}

.image-container {
    width: 300px;
    height: 300px;
}

.link {
    transition: 1s;
}

.link:hover {
    color: white;
    img {
        transform: translateY(1rem);
    }
    label {
        transform: translateY(1rem);
    }
}